<!--
<textarea rows="6" [value]="newPost" #PostInput></textarea><br/>
<button (click)="onAddPost(PostInput)">Save</button>

<p>{{newPost}}</p>
-->

<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput
             placeholder="Title"
             type="text" [(ngModel)]="enteredTitle"
             name="title"
             ngModel
             required #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a title</mat-error>
    </mat-form-field>
    <mat-form-field>
    <textarea matInput placeholder="Content" rows="6"
              type="text"
              name="content"
              ngModel required
              #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter a content</mat-error>
    </mat-form-field>
      <button mat-raised-button color='accent' type="submit" ngModel>Save
      </button>

  </form>

</mat-card>
<!--
<textarea matInput placeholder="Content" rows="6"
              [(ngModel)]="enteredValue"></textarea>
<p>{{newPost}}</p>
!-->
